.imgbtn {
	
}

.ans {
	padding-bottom: 25px;
	font-family: 'Raleway', sans-serif;
	font-size: 25px;
	font-style: normal;
}

.q {
	font-family: 'Space Grotesk', sans-serif;
	background-image: linear-gradient(to right, #ffb300, #ffb300);
	padding-left: 35px;
}

.midtext {
	display: inline;
	text-align: center;
}

.center {
	padding: 30px 0px;
	text-align: center;
	padding-right: 60px;
	font-size: 50px;
	font-family: 'Space Grotesk', sans-serif
}

.midtext {
	display: inline;
	vertical-align: -150px;
	padding-left: 80px;
	font-size: 40px;
	font-family: 'Space Grotesk', sans-serif
}