.imgbtn {
	display: inline;
   background-color:#44ac95;
}

.imgbtn2 {
	display: inline;
   background-color:#62bf46;
}


.ans {
	padding-top: 25px;
	padding-bottom: 50px;
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
	font-style: bold;
}

.q {
	font-family: 'Antonio', sans-serif;
	background-image: linear-gradient(to right, #ffb300, #ffb300);
	padding-left: 35px;
	font-style: bold;
}


.center {
	padding: 30px 0px;
	text-align: center;
	padding-right: 60px;
	font-size: 50px;
	font-family: 'Antonio', sans-serif;
}

.midtext {
	display: inline;
	vertical-align: -150px;
	padding-left: 80px;
	font-size: 40px;
	font-family: 'Antonio', sans-serif;
	font-style: bold;
}